* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#quiz {
    display: none;
}

#start-button {
    display: block;
}

#start-prompt {
    display: block;
}

#score {
    display: none;
}

#retake-btn {
    display: none;
}

#time-left {
    display: none;
}