* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-size: 2rem;
    text-align: center;
}

#header {
    display: inline-flex;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
}

#highscore-button {
    flex-grow: 1;
    color: purple;
    cursor: pointer;
}

#container {
    display: flex column;
    justify-content: center;
    height: 20rem;
    width: 100vw;  
}

#start-prompt {
    display: flex column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border: solid black;
    padding: 2rem;
    text-align: center;
    background-color: silver;
    margin: 0 13rem 0 13rem;
}

#start-prompt p {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
    height: 9vh;
    width: 50vw;
    font-size: large;
    padding: 1rem 0 2rem 0;
}

#start-button {
    justify-content: center;
    background-color: rgb(23, 23, 70);
    color:silver;
    padding: .5rem;
}

#quiz {
    display: none;
    border: solid black;
    padding: 2rem;
    text-align: center;
    background-color: silver;
    margin: 0 13rem 0 13rem;
}

#question {
    font-size: 2rem;
}

.answer {
    display: flex;
    margin: 1rem 0 1rem 0;
    justify-content: center;
    background-color: rgb(23, 23, 70);
    color:silver;
    padding: .25rem;
}

#score {
    display: none;
    border: solid black;
    padding: 2rem;
    text-align: center;
    background-color: silver;
    margin: 0 13rem 0 13rem;
}

#retake-btn {
    display: none;
    background-color: rgb(23, 23, 70);
    color:silver;
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
}

#submit-btn {
    display: none;
    background-color: rgb(23, 23, 70);
    color:silver;
    padding: .5rem;
}

#return-button {
    display: none;
    background-color: rgb(23, 23, 70);
    color:silver;
    padding: .5rem;
    text-align: center;
}

#time-left {
    display: none;
}

#highscore-page {
    display: none;
}

#highscore-list {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
#highscore-list li {
    padding: 1rem;
}